body{
    font-family: Roboto;
}
.container{
    max-width: 1400px;
}
.header{
    display: block;
    margin: 10px 10px 10px 10px;
    
}
.row {
    margin: 10px 0 0 0;
}
.col{
    display: flex;
}

.col img{
    max-width: 151px;
    max-height: 86px;
    margin: 10px 0px 0px 0px;
}
.col p{
    font-size: 20px;
    color: #ACACAC;
    margin: 10px 5px 10px 10px;
}

.line{
    border-bottom: 1px solid #ACACAC;
    max-width: 1400px;
    margin: 32px 0px 30px 0px;
}

.col.display{
    display: flex;
    flex-direction: column;
}
.col-6.display{
    display: flex;
    flex-direction: column;
    padding: 0px 4px 0px 4px;
}
.project-title p{
    font-size: 13px;
    color: #2A2A2A;
    /* margin: 0px 0px 10px 20px; */
}
.general{
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap;
    justify-content: space-evenly; */
}
.project{
    display: flex;
    flex-direction: column;
}
.project img{
    width: 61px;
    max-height: 61px;
    border-radius: 30.5px;
    margin: 0px 0px 0px 10px;
}
.project p{
    color: #2A2A2A;
    font-size: 10px;
    text-align: center;
    width: 59px;
    height: 18px;
}

.col.color{
    text-align: right;
    display: flex;
    flex-direction: column;
}
.col.color p{
    color: #D60000;
}
.social-media{
    display: flex;
    flex-direction: row-reverse;
}
.social-media img{
    max-width: 35px;
    max-height: 35px;
    top: 107px;
    left: 100px;
    margin: 0px 5px 0px 0px;
}
.social-media img:hover {
    transition: 1s;
    transform: scale(1.2);
}

.subsection{
    border: 1px solid #ACACAC;
    width: auto;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 17px 0px;
}

.subsection img{
    width: 290px;
    height: 94px;
    border-radius: 10px;
    margin: 15px 15px 5px 15px;
}
.title-in-the-picture-of-the-left-menu {
    width: 109px;
    height: 19px;
    position: absolute;
    top: 240px;
    left: 145px;
    font-size: 18px;
    color: #D7D7D7;
}
.brand-left-menu {
    width: 155px;
    height: 26px;
    position: absolute;
    top: 276px;
    left: 145px;
    font-size: 25px;
    color: #F8F8F8;
}
.side-menus li a{
    width: 290px;
    background-color: #F5F5F5;
    /* padding: 10px 15px; */
    border-radius: 10px;
    color: #000000;
    text-decoration: none;
    list-style: none;
    margin: 10px 5px 10px 5px;
    padding: 10px 15px;
}
.side-menus li{
    list-style: none;
    margin: 10px 5px 10px 5px;
    padding: 10px 15px;
}  
/* .side-menus a{
    color: #000000;
    text-decoration: none;
}  */
/* .side-menus a:last-child{
    margin: 10px 0px 17px 15px;
} */

.side-menus li a:hover{
	background-color: #D60000;
    color: #F8F8F8;
}

.news-articles h1{
    max-width: 680px;
    max-height: 94px;
    font-size: 45px;
    font-weight: bold;
    margin: 0px 0px 25px 0px;
}
.news-articles img {
    width: 680px;
    height: 373px;
    border-radius: 10px;
  }
  
  .news-articles .news-articles-btn {
    width: 195px;
    height: 45px;
    top: 637px;
    left: 480px;
    background-color: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    color: #2A2A2A;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: center;
  }
.news-videos h2{
    font-size: 45px;
    font-weight: bold;
    margin: 50px 0px 25px 0px;
}
.news-videos img{
    width: 680px;
    height: 356px;
    border-radius: 10px;
    border: 1px;
}
.they-talk-about-us h3{
    max-width: 680px;
    max-height: 47px;
    font-size: 45px;
    font-weight: bold;
    margin: 20px 0px 25px 0px;
}
.place-for-video-review{
    display: flex;
    flex-direction: row;
}
.video-review{
    background-color: #DBDBDB;
    width: 212px;
    height: 289px;
    border-radius: 10px;
    margin: 0px 10px 0px 0px;
}
.video-review p{
    color: #A4A4A4;
    font-size: 18px;
    text-align: center;
    max-width: 144px;
    max-height: 38px;
    margin: 105px 0px 0px 35px;
} 
.video-review button{
    width: 182px;
    height: 35px;
    border-radius: 5px;
    color: #4A4A4A;
    border-color: #F8F8F8;
    margin: 90px 0px 0px 15px; 
    border: none;
} 
.video-review button:hover {
	background-color: #D60000;
    color: #F8F8F8;
}

.we-are-building h4{
    max-width: 680px;
    max-height: 47px;
    font-size: 45px;
    font-weight: bold;
    margin: 50px 0px 25px 0px;
}
.what-we-are-building-in-common{
    display: flex;
    flex-direction: row;
}
.detailed-what-we-are-building{
    display: flex;
    flex-direction: column;
    margin: 0px 15px 0px 0px;
}
.detailed-what-we-are-building img{
    max-width: 330px;
    max-height: 212px;
    border-radius: 10px;
}
.detailed-what-we-are-building button{
    max-width: 223px;
    max-height: 50px;
    border-radius: 5px;
    color: #F8F8F8;
    border-color: #F8F8F8;
}
.detailed-what-we-are-building button:hover{
    max-width: 223px;
    max-height: 50px;
    border-radius: 5px;
    color: #F8F8F8;
    border-color: #F8F8F8;
}
/* --------------------------------------------------- */
/* .detailed-what-we-are-building{
    max-width: 330px;
    max-height: 212px;
    border-radius: 10px;
    /* margin: 0px 10px 10px 0px; 
} */

.detailed-what-we-are-building {
    position: relative;
    width: 330px;
  }
  .overlay {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 330px;
    height: 212px;
    /* background: rgba(0, 0, 0, 0.5); Настройка цвета и прозрачности для блока с заголовком */
    transition: background 0.5s ease;
    border-radius: 10px;
  }
  .detailed-what-we-are-building:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }

  .button {
    position: absolute;
    width: 223px;
    height: 50px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    margin: 95px 0px 0px 50px;
  }
  .button a {
    padding: 15px 40px;
    text-align: center;
    color: white;
    border: 1px solid white;
    z-index: 1; 
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
  }
  .detailed-what-we-are-building:hover .button {
    opacity: 1;
  }
  /* ----------------------------------------------------------- */
.detailed-what-we-are-building h5{
    max-width: 182px;
    max-height: 19px;
    font-size: 18px;
    font-weight: bold; 
    color: #2A2A2A;
    margin: 10px 0px 35px 0px;
} 

.col.size{
    display: flex;
    flex-direction: row-reverse;
}
.frame-current-news{
    border: 1px solid #ACACAC;
    width: auto;
    height: auto;
    border-radius: 10px;
}
.frame-current-news p{
    width: 208px;
    height: 19px;
    font-size: 18px;
    color: #2A2A2A;
    margin: 15px 97px 20px 15px;
}
.frame-current-news button{
    width: 290px;
    height: 45px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: #2A2A2A;
    font-size: 18px;
    margin: 19px 15px 17px 15px;
}

.detailed-current-news{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 20px 0px;
}
.detailed-current-news img{
    width: 104px;
    height: 78px;
    border-radius: 5px;
    margin: 0px 10px 0px 15px;
}

.detailed-description-of-current-news h6{
    width: 171px;
    height: 17px;
    font-weight: bold;
    font-size: 16px;
    margin: 0px 27px 40px 0px;
}
.detailed-description-of-current-news p{
    width: 170px;
    height: 14px;
    font-size: 13px;
    margin: 7px 0px 0px 0px;
    color: #2A2A2A;
}
.detailed-description-of-current-news p:nth-child(2){
    width: 170px;
    height: 14px;
    font-size: 13px;
    margin: 10px 0px 0px 0px;
    color: #8E8E8E;
} 
.detailed-description-of-current-news p:last-child{
    width: 170px;
    height: 14px;
    font-size: 13px;
    margin: 5px 0px 0px 0px;
    color: #8E8E8E;
} 

.url{
    display: flex;
    flex-direction: row;
}
.url a{
    /* width: 71px; */
    height: 19px;
    font-size: 18px;
    color: #BFBFBF;
    text-align: center;
    margin: 0px 0px 71px 0px;
    text-decoration: none;
}
.url p{
    width: 71px;
    height: 19px;
    font-size: 18px;
    color: #BFBFBF;
    text-align: center;
    margin: 0px 0px 71px 0px;
}
.main-heading h1{
    font-size: 45px;
    color: #2A2A2A;
    font-weight: bold;
}
.main-heading p{
    font-size: 18px;
    color: #B3B3B3;
    margin: 10px 0px 40px 0px;
}  
.col-7 p{
    color: #535353;
    font-size: 18px;
}

.col-5 img{
    width: 598px;
    height: 414px;
    border-radius: 150px 50px 150px 50px;
}
.col-12{
    margin: 71px 0px 130px 0px;
    color: #535353;
    font-size: 18px;
}

.row h3{
    font-size: 45px;
    color: #2A2A2A;
    font-weight: bold;
    margin-top: 130px;
}
.detailed-other-news{
    display: flex;
    flex-direction: column;
}
.detailed-other-news img{
    width: 446px;
    height: 309px;
    border-radius: 90px 30px 90px 30px;
    margin-top: 60px;
}
.detailed-other-news h4{
    font-size: 30px;
    color: #2A2A2A;
    margin: 25px 0px 7px 0px;
}
.detailed-other-news p{
    font-size: 18px;
    color: #B3B3B3;
}



.footer{    
    background-color: #F3F3F3;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.footer h5{
    color: #fff;
}

.invite-to-participate-in-the-tender button{
    width: 368px;
    height: 55px;
    border-radius: 5px;
    color: #F8F8F8;
    background: #171717;
    margin: 0px 0px 10px 0px;
    border: none;
} 
.invite-to-participate-in-the-tender button:hover {
	background-color: #D60000;
    color: #F8F8F8;
}
/* ------------- */
 
.popup-tender{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2; 
    display: none;
}
  #popup-tender.active{
  display: block;
  }
  
  .popup-tender-container{
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .popup-tender-body{
    margin: auto;
    width: 689px;
    height: 716px;
    background-color: #FFFFFF;
    border-radius: 30px;
    text-align: center;
    position: relative;
  }
  
  .popup-tender-body h6{
    width: 541px;
    height: 122px;
    font-size: 55px;
    font-weight: 600;
    color: #2A2A2A;
    margin: 30px 0px 20px 74px;
  }
  .popup-tender-body p{
    width: 474px;
    font-size: 20px;
    color: #707070;
    margin-left: 107px;
  }
  .popup-tender-body p:nth-last-child(2){
    width: 521px;
    font-size: 16px;
    margin: 30px 0px 49px 84px;
  }
  .popup-tender-body input{
    display: block;
    margin-left: 94px;
    border: none;
    font-size: 18px;
    color: #2A2A2A;
  } 
  
  .popup-tender-line{
    border-bottom: 1px solid #2A2A2A;
    width: 500px;
    margin: 17px 0px 35px 84px;
  }
  
  .popup-tender-body input:focus{
    outline: none;
  }
  
  .popup-tender-body button{
    width: 500px;
    height: 70px;
    font-weight: 500;
    font-size: 20px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: #D60000;
  }
  
  .close-popup-tender{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
  }

/* ----------------------------------- */


.individual-offer button{
    width: 368px;
    height: 55px;
    border-radius: 5px;
    color: #F8F8F8;
    background: #D60000;
    border-color: #D60000;
    margin: 0px 0px 55px 0px;
} 
.individual-offer button:hover {
    background-color: #F8F8F8;
    color: #D60000;
}

.popup-offer{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2; 
    display: none;
}
  #popup-offer.active{
  display: block;
  }
  
  .popup-offer-container{
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .popup-offer-body{
    margin: auto;
    width: 689px;
    height: 716px;
    background-color: #FFFFFF;
    border-radius: 30px;
    text-align: center;
    position: relative;
  }
  
  .popup-offer-body h6{
    width: 541px;
    height: 122px;
    font-size: 55px;
    font-weight: 600;
    color: #2A2A2A;
    margin: 30px 0px 20px 74px;
  }
  .popup-offer-body p{
    width: 474px;
    font-size: 20px;
    color: #707070;
    margin-left: 107px;
  }
  .popup-offer-body p:nth-last-child(2){
    width: 521px;
    font-size: 16px;
    margin: 30px 0px 49px 84px;
  }
  .popup-offer-body input{
    display: block;
    margin-left: 94px;
    border: none;
    font-size: 18px;
    color: #2A2A2A;
  } 
  
  .popup-offer-line{
    border-bottom: 1px solid #2A2A2A;
    width: 500px;
    margin: 17px 0px 35px 84px;
  }
  
  .popup-offer-body input:focus{
    outline: none;
  }
  
  .popup-offer-body button{
    width: 500px;
    height: 70px;
    font-weight: 500;
    font-size: 20px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: #D60000;
  }
  
  .close-popup-offer{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
  }
  /* ------------------------- */

.col-4 p{
    font-size: 16px;
    color: #2A2A2A;
    margin: 5px 0;
}

.that-we-are-building-a-basement h1{
    color: #2A2A2A;
    font-size: 20px;
}
.that-we-are-building-a-basement p{
    color: #2A2A2A;
    font-size: 16px;
}
.col-6{
    display: flex;
    flex-direction: row;
}

.we-stand-footer h1{
    font-size: 20px;
    color: #2A2A2A;
    margin: 0px 0px 15px 0px;
}
.we-stand-footer.margin a{
    font-size: 16px;
    color: #2A2A2A;
    margin: 44px 35px -39px 15px;
}
.we-stand-footer a{
    font-size: 16px;
    color: #2A2A2A;
    margin: 5px 5px 0px 0px;
    text-decoration: none;
}
.we-stand-footer{
    display: flex;    
    flex-direction: column;
} 
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
}